@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(233, 223, 223);
  color: rgb(226, 43, 43);
  box-shadow: inset 0 0 40px rgba(226, 43, 43, 0.9);
}
.layer3{
  background-color: rgba(75, 75, 87, 0.2);
  padding: 20px 30px;
  box-shadow: 0 0 40px rgba(226, 43, 43, 0.9);
}

.container {
  width: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(253, 252, 252);
  border-radius: 0px;
  box-shadow: inset 0 0 40px rgba(226, 43, 43, 0.9);
  color: rgb(226, 43, 43);
}


img {
  width: 150px;
  height: 150px;
}

.category {
  margin-bottom: 10px;
  opacity: 0;
}

.joke {
  text-align: center;
  font-weight: 500;
  opacity: 0;
}

.effect {
  opacity: 1;
  transition: opacity 1.2s;
}

.btn {
  padding: 10px 25px;
  margin-top: 20px;
  font-weight: bold;
  box-shadow: 5px 2px 10px rgb(3, 3, 3);
  cursor: pointer;
  position: relative;
  color: rgb(226, 43, 43);
  outline: none;
}

.btn:active {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}
